@model MVCUI.Models.MatchupMVCModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => item.MatchupId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label">@item.FirstTeamName</label>
            <div class="">
                @Html.EditorFor(model => item.FirstTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.FirstTeamScore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">@item.SecondTeamName</label>
            <div class="">
                @Html.EditorFor(model => item.SecondTeamScore, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => item.SecondTeamScore, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top: 0.5em;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Score Match" class="btn btn-default creta box-display" />
            </div>
        </div>
    </div>
}

